
body{
    background-image: url(./assets/elmo-scryptic.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: auto;
    height: auto;
}

a{
    color: white;
    text-decoration: none;
    
}
a:hover{
    color: rgba(253, 253, 253, 0.281);
}

h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2{
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Intro{
    margin-top: 220px;
    color: whitesmoke;
    text-align: center;
    font-family: fantasy;
    font-size: 30px;
}

.Hotbar{
    
    text-align: center;
    font-size: 30px;
}

.Aboutme{
    display: inline-block;
    width: 100%;
    height: fit-content;
    padding-block: 5;
    background-color: rgba(0, 0, 0, 0.788);
    margin-top: 620px;
    color: white;
    text-align: center;
}

.Aboutme p{
    color: white;
    text-align: center;
    font-size: 20px;
}

.Aboutme i{
    margin-inline: 20px;
}

